@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--eggshell);
    overflow-x: hidden;
}


:root{
    --rich-black: #0d1321ff;
    --prussian-blue: #1d2d44ff;
    --paynes-gray: #3e5c76ff;
    --silver-lake-blue: #748cabff;
    --eggshell: #f0ebd8ff;
}

.header{
    width: 100%;
    height: 100%;
    background-color: var(--prussian-blue);
    color: white;
    align-items: center;
    
    display: flex;
}

.header h1{
    display: inline-flex;
    margin-left: 2%;
    max-width: 70%;
}

.header img{
    display: inline-flex;
    margin-left: 2%;
    width: 10%;
    height: auto;
    max-width: 80px;
}

.hero {
    
    position: relative;
    text-align: center;
    
    
}


.hero img{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    
}

.call{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.card{
    background-color: var(--silver-lake-blue);
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    text-align: left;
    border-radius: 9px;
    border: 1px solid var(--prussian-blue);
}

.card h2{
    margin-bottom: 0;
}

.card hr{
    border-color: var(--rich-black);
}

.card p{
    text-align: justify;
    margin: auto 20px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.advertisements h2{
    text-align: center;
}

.advertisements .card h2{
    text-align: left;
}

.advertisements .card h3{
    text-align: right;
}

footer{
    background-color: var(--prussian-blue);
    padding: 40px;
    margin-top: 100px;
}

footer p{
    margin:0;
}

footer img{
    display: inline-flex;
    width: 13%;
    height: auto;
    margin-bottom: 10px;
}

footer hr{
    border-color: var(--rich-black);
}

.ftitle{
    display: inline-block;
    margin: 10px;
    max-width: 70%;
    align-self: center;
    color: white;
}

.footer-top{
    display: flex;
}

.fbottom{
    text-align: center;
    color: yellow;
}

nav{
    display: none;
    
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	right:5%;
	top: 2%;
}

nav.open{
    background-color: var(--rich-black);
    flex-direction: column;
    
    display: flex;
    align-items: center;
    
}

nav.open a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    border: 1px solid white;
}

.active {
	border-top: 2px solid white;
}


.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 13%;
    top: 2.5%;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media (max-width: 830px) {
    

    header h1 {
        margin-right: 14rem;
    }
  }

  @media (max-width: 632px) {
    .switch {
        right: 2%;
        top: 9.5%;
      }

    #menu {
        right:4%;
        top: 4%;
    }

    
  }

  .hero{
      
    display: flex;
    position: relative;
  }

.hero picture{
  margin: 0 auto;
  
}

.hero img{
  width: 100%;
  max-width: 1400px;
  height: 100%;
  object-fit: cover;
  
}

.herolabel {
  position: absolute;
  top: 30px;
  left: 9%;
  background: radial-gradient(#fff, #000000);
  border: 1px solid rgba(0,0,0,.75);
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
  
}

.herolabel p {
  margin: 0;
  padding: .25rem;
  font-weight: 700;
  font-size: 2rem;
  font-family:"Great Vibes", serif;
}




/*Join Page*/

#join{
  width:90%;
  margin: 0 auto;
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    margin: 0 1rem;
    color: var(--rich-black);
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select{
    
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}

.textbox{
  
  display: block;
  margin-top: 2rem;
}

table{
  border: 1px solid black;
  margin: 0 auto;
 
}

table td{
  border: 1px solid black;
  padding-left: 10px;
}

table p{
  text-align: center;

}


/********Grid/List for directory section******************/

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--rich-black);
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: white;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}



section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

#directory img {
	height: auto;
	max-width: 100%; 
}

.Bronze{
  background-color: rgba(165, 42, 42, 0.336);
}

.Silver{
  background-color: silver;
}

.Gold{
  background-color: gold;
}