@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body{
    font-family: 'Work Sans', sans-serif;
    
}

header{
    background-color: #1d4d72;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

header img{
    display: flex;
    width: 30%;
    border-radius: 20px;
    max-width: 100px;
}

header h1{
    
    display: flex;
    margin-left: 1rem;
    color: white;
}

nav{
    display: none;
    
}

nav.open{
    background-color: black;
    flex-direction: column;
    
    display: flex;
    align-items: center;
    
}

nav.open a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    border: 1px solid white;
}

main{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    
    justify-items: center;
    
    justify-content: center;
    width: 70%;
}

.card {
    
   
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card h3{
    background-color: #1d4d72;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 0;
}

li{
    list-style: none;
    text-align: left;
}

footer{
    text-align: center;
    background-color: #1d4d72;
    padding: 10px;
    color: white;
}

footer img{
    width: 3%;
}

#lastModified{
    color: yellow;
}

hr{
    width: 100%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	right:5%;
	top: 6%;
}

#map{
    display: flex;
    margin: 2% auto;
    width: 100%;
    max-width: 85%;
}

#map.open{
    opacity: 0;
}